.text-center {
    text-align: center;
}

.hidden { display: none; }
.mb-small { margin-bottom: 1.5rem !important; }
.mb-4, .mb-medium { margin-bottom: 4rem !important; }
.mb-8, .mb-large { margin-bottom: 8rem !important; }
.mt-small { margin-top: 1.5rem; }
.mt-medium { margin-top: 4rem; }
.mt-large { margin-top: 8rem; }
